@font-face {
 font-family: futura; src: url('../font/Futura%20(Light).ttf');
}

/*@fonts-face {*/
 /*fonts-family: code; src: url('../fonts/CODE%20Bold.otf');*/
/*}*/


@font-face {
 font-family: dense;
 src: url('../font/dense-regular-webfont.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
 src: url('../font/dense-regular-webfont.eot'); /* IE9 Compat Modes */
 src: url('../font/Dense-Regular.woff');
 /*src: url('../fonts/Dense-Regular.otf');*/
}

.overlay {
	width: 100%;
	height: 80%;
	position: fixed;
	top: 50%;
	margin-top:-20%;
	background-color: black;
	overflow: scroll;
}

.overlay-slide {
	width: 300px;
	background-color: yellow;
	padding: 5%;
	display: absolute;
}

body {
	font-family: futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #373E44;
	font-size: 12;
	overflow-x: hidden;
}



.no-hover-events{
	pointer-events:none;
}

.scrollbutton {
	width: 50px;
	left: 50%;
	margin-left: -25px;
	position: absolute;
	bottom: 10%;
	text-align: center;
	color: #5e6a74;
}

#scrollbutton1{
	position: fixed;
}

#slideset {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#slideset:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.straycubesbg {
	background-image:url("../images/footerrender2.png");
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}

/*.bluetriangleBG {*/
	/*background-image:url("../images/bluetriangle.svg");*/
	/*background-size: 100%;*/
	/*background-position: center;*/
	/*background-attachment: fixed;*/
	/*background-repeat: no-repeat;*/
/*}*/

#coreskills {
	text-align: center;
	top: 50%;
	height: 296px;
	margin-top: -148px;
}

a {
	color:#000000;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

a:hover {
	color: #f8f8ff;
}

a:visited{
	color:grey;
}

#skilltitle {
	position: absolute;
	width: 800px;
	top: 10%;
	margin-left: -380px;
	left: 50%;
	text-align: center;
}

#arrow{
	overflow: hidden;
}

.futura_font {
	font-family: futura;
}

.dense_font {
	font-family: dense;
}

.code_font {
	font-family: code;
}

.cover_title {
	position: fixed;
	width: 800px;
	top: 20%;
	margin-left: -400px;
	left: 50%;
	text-align: center;
}

.paleborder{
	border-color: #BAB1B9;
}

.darkborder{
	border-color: #373E44;
}

.darkfont{
	color: #373E44;
}

.general_title {
	position: absolute;
	width: 800px;
	top: 20%;
	margin-left: -400px;
	left: 50%;
	text-align: center;
}

.bigletterspacing {
	letter-spacing: 20px;
	margin-left: 20px;
	display: inline-block;
}

.cover_sub_text{
	font-size: 25px;
}



.defaultBG{
	background-color: #D2CCC9;
	background-image: url("../images/cover_orthogonal.png");
	background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}

.nocubeBG{
	background-color: #D2CCC9;
	background-image: url("../images/no_cube.jpg");
	background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
}

.arrowMask{
	background-color: #D2CCC9;
	background-image: url("../images/cover_cubes.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-mask-image: url(../images/arrow.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: 100%;
	-webkit-mask-size: 100%;
}

.hexagonMask{
	background-color: #D2CCC9;
	background-image: url("../images/cover_cubes.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-mask-image: url(../images/hexagon_small.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: auto 100%;
	-webkit-mask-position-x: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
}


.center800{
	width: 800px;
	margin-left: -400px;
	position: absolute;
	left: 50%;
	bottom: 0%;

}

.triangleMask {
	-webkit-mask-image: url(../images/triangle.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position-x: 50%;
	-webkit-mask-position-y: 100%;
	-webkit-mask-size: 100%;
}

.skillTitle {
	color: gainsboro;
	font-size: 30px;
}

.skillcontainer {
	width: 100%;
}

.skilllist {
	list-style: none;
	font-size: 20px;
	color: gainsboro;
}

.skilllist li {
	display: inline-block;
}


.blackBG
{
	background-color: #000000;
	background-size: 100%;
}
.stretch {
	width: 100%;
	height: 100%;
}
.cover {
	width: 100%;
}

.content {
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.no-pointer-events{
	pointer-events:none;
}

.palefont{
	color: #BAB1B9;
}

#contact{
	z-index: 100;
}

.padtop{
	padding-top: 5%;
}

.margintop{
	margin-top: 5%;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 99;
}

.notextdecoration {
	text-decoration: none;
}

.fakecontent {
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.transition {
	overflow: hidden;
	width: 100%;;
	position: relative;
}

.transition-small {
	overflow: hidden;
	position: relative;
}

.greyBG {
	background-color: #D2CCC9;
}



.title{
	text-align: center;
	font-size: 50px;
	position: absolute;
	width: 800px;
	margin-left: -400px;
	left: 50%;
	top: 25%;
}

.about {
	text-align: center;
	font-size: 50px;
	height: auto;
}

.dual_panes {
	height: 100px;
}

.nopaddingnomargin{
	padding: 0;
	margin: 0;
	display: block;
}

.soft-shadow {
	text-shadow: 0px 0px 200px rgba(0, 0, 0, 1);
}

.left_pane{
	left: 0%;
	text-align: right;
	border-right: 1px solid;
	padding-right: 10px;
	width: 50%;
	float: left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.right_pane{
	right: 0%;
	text-align: left;
	border-left: 1px solid;
	padding-left: 10px;
	width: 50%;
	float: right;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

footer {
	position: absolute;
	bottom: 4px;
	left: 4px;
}

.biggerfont {
	font-size: 50px;
}

.mediumfont {
	font-size: 35px;
}

.smallerfont {
	font-size: 20px;
}

.margins {
	margin: 5px;
}